<div class='row'>
  
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'info', user: @user,now: ''%>

    <h2>New book</h2>
    <%= render 'books/form', book: @book %>

  </div>

  <div class='col-xs-9'>
    <h2>Books</h2>

    <%= render 'books/index',books: @books %>
    <h2>投稿数の前日比・前週比</h2>
    <table class='table'>
      <thead>
        <tr>
          <th>今日の投稿数</th>
          <th>前日の投稿数</th>
          <th>前日比</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @today_books.count %></td>
          <td><%= @yesterday_books.count %></td>
          <td><%= @yesterday_to_today %>%</td>
        </tr>
      </tbody>
    </table>
    
    <table class='table'>
      <thead>
        <tr>
          <th>今週の投稿数</th>
          <th>前週の投稿数</th>
          <th>前週比</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @weekly_books.count %></td>
          <td><%= @last_weekly_books.count %></td>
          <td><%= @last_week_to_this_week %>%</td>
        </tr>
      </tbody>
    </table>
    
    <h2>7日間分の投稿数</h2>
    <table class='table'>
      <thead>
        <tr>
          <th>6日前</th>
          <th>5日前</th>
          <th>4日前</th>
          <th>3日前</th>
          <th>2日前</th>
          <th>1日前</th>
          <th>今日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @books_six_days_ago.count %></td>
          <td><%= @books_five_days_ago.count %></td>
          <td><%= @books_four_days_ago.count %></td>
          <td><%= @books_three_days_ago.count %></td>
          <td><%= @books_tow_days_ago.count %></td>
          <td><%= @yesterday_books.count %></td>
          <td><%= @today_books.count %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>